body{
    background-color: rgba(255, 255, 255, 0.391);
/* used to change entire background on site */
}

/* selector {
    property: value:
    property: value;
} */

p {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

nav {
    display: flex;
    color: black;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-style: italic;
    justify-content: space-around;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    display: flex;
    font-size: 45px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 200;
    margin-top: 20px;
    justify-content: space-between;
    color:  rgb(255, 255, 255);;
    border: 3px dashed black;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-shadow: -1px -2px 0 rgb(0, 0, 0), 2px -1px 0 rgb(0, 0, 0), -1px 2px 0 rgb(0, 0, 0), 2px 1px 0 rgb(0, 0, 0);
    background-image: linear-gradient(to right, white,  rgba(126, 71, 255, 0.417),rgb(255, 255, 255));
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0.8em;
}

.solidbar1 {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 0.5em;
    margin-top: 0.5em;
}

.html_img, .html_img2 {
    height: 50px;
}

.boxes {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

.boxes a{
    text-decoration: none;
}

h2, h3, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}

.pic1 {
    display: flex;
    justify-content: center;
    height: 150px;
    padding-right: 2em;
}

footer {
    background-color: rgb(0, 0, 0);
    height: 2.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

span a:hover{
    background-color: rgba(187, 187,0, 0);
    color: rgb(3, 192, 0);
}

span a {
    color: black;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 5em;
}

ul a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    color: black;
}

ul a:hover{
    color: rgb(3, 192, 0);
}

header {
    background-color: black;
}

.about_section {
    display: flex;
    background-color: rgba(126, 71, 255, 0.405);
    margin-top: 1em;
    justify-content: space-evenly;
}

.hobbies_section {
    display: flex;
    flex-direction: column;
    margin: 2em;

}

.music_section {
    display: flex;
    flex-direction: column;
    background-color: rgba(126, 71, 255, 0.405);
    margin-bottom: 2em;
    padding-top: 30px;
}

#about_me {
    padding-top: 30px;
}

ul a #about_me {
    justify-content: center;
}

#music_rec {
    padding-bottom: 25px;
}

.about_section p {
    padding-top: 20px;
}